{{- define "sonic_theme_syria/journals" -}}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{ .settings.journals_alias }} - {{ .blog_title }}</title>
    {{ template "sonic_theme_syria/module/head" .}}
</head>

<style>
    .journal:not(:last-of-type) {
        border-bottom:1px solid #bfc1c3;
    }
    .journal {
        margin-top: 15px;
    }
</style>

<body>
{{ template "sonic_theme_syria/module/header" .}}
<main class="wrapper">
    <content>
        <header class="header">
            <h1 class="header-title">{{ $.settings.journals_alias }}</h1>
        </header>
        {{ range $journal := .journals.Content }}
        <article class="journal">
            <div>
                <time>
                    {{unix_milli_time_format "2006-01-02 15:04:05" $journal.CreateTime}}
                </time>
            </div>

            <div>
                {{if eq $journal.JournalType 0}}
                <p>{{noescape $journal.Content}}</p>
                {{else}}
                <code>这条{{ $.settings.journals_alias }}被藏起来了</code>
                {{end}}
            </div>
        </article>
        {{end}}

    </content>
</main>

{{ template "sonic_theme_syria/module/footer" .}}
</body>

</html>
{{- end -}}