{{- define "sonic_theme_syria/module/footer" -}}

<footer class="footer">
    <span class="footer_item"> </span>

    <small class="footer_copyright">
        <div>Copyright © 2020 - <span id="year"></span>
            Powered By <a href="https://github.com/go-sonic/sonic">Sonic</a>
        </div>
        <div>
            {{$statistics:=getStatisticsData}}
            已经顽强运行 <span id="days">0</span> ·
            总访问量 <span id="busuanzi_value_site_pv">{{$statistics.VisitCount}}</span> 次
        </div>
        <div class="beian">
            {{ if .settings.show_icp }}
            <a target="_blank" href="{{.settings.icp_url}}">{{.settings.icp_info}}</a>
            {{ end }}
            {{ if and .settings.show_icp .settings.show_police}}·{{ end }}
            {{ if .settings.show_police }}
            <a target="_blank" href="{{.settings.police_url}}">{{.settings.police_info}}</a>
            {{ end }}
        </div>
        <div class="gotop">▲</div>
    </small>
</footer>

<script>
    var s0 = '{{ $statistics.Birthday }}';
    s1 = new Date(Number(s0));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();

    var date = new Date;
    var year = date.getFullYear();
    document.getElementById('year').innerHTML = year;

    var BootDate = new Date(Number(s0));

    function ShowRunTime(id) {
        var NowDate = new Date();
        var RunDateM = parseInt(NowDate - BootDate);
        var RunDays = Math.floor(RunDateM / (24 * 3600 * 1000));
        var RunHours = Math.floor(RunDateM % (24 * 3600 * 1000) / (3600 * 1000));
        var RunMinutes = Math.floor(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) / (60 * 1000));
        var RunSeconds = Math.round(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) % (60 * 1000) / 1000);
        var days = RunDays + "天" + RunHours + "时" + RunMinutes + "分" + RunSeconds + "秒";
        document.getElementById(id).innerHTML = days;
    }

    ShowRunTime('days');
    setInterval("ShowRunTime('days')", 1000);
</script>


{{ template "global.footer" . }}
<script src="{{.theme_base}}/assets/js/jquery3.6.0.min.js?version={{ .theme.Version}}"></script>
<script src="{{.theme_base}}/assets/js/simplebox.min.js?version={{ .theme.Version}}"></script>
<script src="{{.theme_base}}/assets/js/search.js?version={{ .theme.Version}}"></script>
<script src="{{.theme_base}}/assets/js/main.js?version={{ .theme.Version}}"></script>
{{if .settings.highlight }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{{end}}


{{end}}