{{- define "sonic_theme_syria/module/head" -}}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="renderer" content="webkit" />

<meta name="author" content="{{ .user.Nickname }}" />
<meta name="keywords" content="{{ .meta_keywords }}" />
<meta name="description" content="{{ .meta_description }}" />

<link rel="stylesheet" href="{{.theme_base}}/assets/css/index.css?version={{ .theme.Version}}" />
{{ if .settings.highlight }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/{{- .settings.highlight_style -}}.min.css">
{{ end }}

{{ template "global.head" . }}

{{end}}